@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&display=swap ');
@import url('https://cdn-uicons.flaticon.com/2.5.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.5.0/uicons-brands/css/uicons-brands.css');


body{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

*{
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: gray;
  line-height: 2rem;
}

nav{
  width: 13rem;
  padding: 2rem;
  height: 100vH;
  box-shadow: 6px 6px 6px gray;
}

header{
  background-color: rgb(0, 119, 255);
  width: 97%;
  padding-left: 2rem;
}